<template id="bracket-template">
    <div class="bracket-wrap">

        <div class="bracket winnerBracket">
            <!-- Round 1: Winner Bracket -->
            <div class="round round-1-winner">
                <div class="sub-header">
                    <div class="TournaType">Winner QuarterFinal</div>
                </div>
                {% for match in range(1, 5) %}
                <!-- Match {{ match }} -->
                <div class="match">
                    <div class="player match{{match}}-player1">
                        <span class="score">SCORE</span>
                        <span class="player_team">TEAM</span>
                        <span>|</span>
                        <span class="player_name">PLAYER</span>
                        <img  class="flag">
                    </div>
                    <div class="player match{{match}}-player2">
                        <span class="score">SCORE</span>
                        <span class="player_team">TEAM</span>
                        <span>|</span>
                        <span class="player_name">PLAYER</span>
                        <img class="flag">
                    </div>
                </div>
                {% endfor %}
            </div>
            

            <!-- Round 2: Top 8 -->
            <div class="round round-2-winner">
                <div class="sub-header">
                    <div class="Top">Top 8</div>
                </div>
                {% for match in range(1, 3) %}  <!-- Updated range to include more matches -->
                <!-- Match {{ match }} -->
                <div class="match">
                    <div class="player match{{match}}-player1">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img  class="flag">
                    </div>
                    <div class="player match{{match}}-player2">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img class="flag">
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Round 3: Winner Final -->
            <div class="round round-3-winner">
                <div class="sub-header">
                    <div class="Top">Winner-Semifinal</div>
                </div>
                {% for match in range(1, 2) %}
                <!-- Match {{ match }} -->
                <div class="match">
                    <div class="player match{{match}}-player1">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img  class="flag">
                    </div>
                    <div class="player match{{match}}-player2">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img class="flag">
                    </div>
                </div>
                {% endfor %}
            </div>
        
            <!-- Round 5: Grand Final -->
            <div class="round round-4-winner GrandFinal">
                <div class="sub-header">
                    <div class="Top">GrandFinal</div>
                </div>
                {% for match in range(1, 2) %}
                <!-- Match {{ match }} -->
                <div class="match">
                    <div class="player match{{match}}-player1">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img  class="flag">
                    </div>
                    <div class="player match{{match}}-player2">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img class="flag">
                    </div>
                </div>
                {% endfor %}
                <div class="match optional">
                    <div class="player match{{match}}-player1">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img  class="flag">
                    </div>
                    <div class="player match{{match}}-player2">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img class="flag">
                    </div>
                </div>
            </div>

        </div>

        <div class="bracket loserBracket">
            <!-- Round 1: Loser Bracket -->
            <div class="round round-1-loser">
                <div class="sub-header">
                    <div class="TournaType">Loser Bracket</div>
                </div>
                {% for match in range(1, 5) %}
                <!-- Match {{ match }} -->
                <div class="match">
                    <div class="player match{{match}}-player1">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img  class="flag">
                    </div>
                    <div class="player match{{match}}-player2">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img class="flag">
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <!-- Round 2 -->
            <div class="round round-2-loser">
                <div class="sub-header">
                    <div class="Top">Round2</div>
                </div>
                {% for match in range(1, 5) %}  <!-- Updated range to include more matches -->
                <!-- Match {{ match }} -->
                <div class="match">
                    <div class="player match{{match}}-player1">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img  class="flag">
                    </div>
                    <div class="player match{{match}}-player2">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img class="flag">
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Round-3 -->
            <div class="round round-3-loser">
                <div class="sub-header">
                    <div class="Top">Top 8</div>
                </div>
                {% for match in range(1, 3) %}  <!-- Updated range to include more matches -->
                <!-- Match {{ match }} -->
                <div class="match">
                    <div class="player match{{match}}-player1">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img  class="flag">
                    </div>
                    <div class="player match{{match}}-player2">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img class="flag">
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Round-4 -->  
            <div class="round round-4-loser">
                <div class="sub-header">
                    <div class="Top">Loser QuarterFinal</div>
                </div>
                {% for match in range(1, 3) %}  <!-- Updated range to include more matches -->
                <!-- Match {{ match }} -->
                <div class="match">
                    <div class="player match{{match}}-player1">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img  class="flag">
                    </div>
                    <div class="player match{{match}}-player2">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img class="flag">
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="round round-5-loser">
                <div class="sub-header">
                    <div class="Top">Loser Semifinal</div>
                </div>
                {% for match in range(1, 2) %}
                <!-- Match {{ match }} -->
                <div class="match">
                    <div class="player match{{match}}-player1">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img  class="flag">
                    </div>
                    <div class="player match{{match}}-player2">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img class="flag">
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="round round-6-loser">
                <div class="sub-header">
                    <div class="Top">Loser Final</div>
                </div>
                {% for match in range(1, 2) %}
                <!-- Match {{ match }} -->
                <div class="match">
                    <div class="player match{{match}}-player1">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img  class="flag">
                    </div>
                    <div class="player match{{match}}-player2">
                        <span class="score">SCORE</span>
                        <span class="player_team" id="">TEAM</span>
                        <span>|</span>
                        <span class="player_name" id="">PLAYER</span>
                        <img class="flag">
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div> 
</template>    
