<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title></title>
  <link rel="icon" href="favicon.jpg" type="image/x-icon" />  
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/SF6_Bracket.css')}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">
  <!-- <script src="{{ url_for('static', filename='JavaScript/BracketTemplate.js') }}" defer></script> -->
</head>
<body>
    <h1 class="headertype">Top 16 Bracket</h1>
    <div id="bracket-container">
        {% include 'bracket_display.html' %}
    </div>
</body>
</html>