<div class="bracket-wrap">
  {% if comp and comp.bracket %}
    {% for bracket_type, rounds in comp.bracket.items() %}
      <div class="bracket bracket-type">

        {% for round_num, matches in rounds.items() %}
        {% if bracket_type == 'loser' %}
          <div class="round round-{{ round_num | int  - 4}}-{{ bracket_type }}">
            <div class="sub-header">
              <div class="TournaType">Round {{ round_num | int  - 4}}</div>
            </div>
        {% elif bracket_type == 'winner' and round_num == '4' %}
        <div class="round round-{{ round_num | int }}-{{ bracket_type }} GrandFinal">
            <div class="sub-header">
              <div class="TournaType">Grandfinal</div>
            </div>
        {% else %}  
          <div class="round round-{{ round_num | int }}-{{ bracket_type }}">
            <div class="sub-header">
              <div class="TournaType">Round {{ round_num | int }}</div>
            </div>
        {% endif %}

            {% for match in matches %}
              <div class="match">
                <div class="player match{{ loop.index }}-player1">
                  <span class="score">{{ match.score1 or 0 }}</span>
                  <span class="player_team">{{ match.team1 or 'Unknown' }}</span>
                  <span>|</span>
                  <span class="player_name">
                    <a href="{{ url_for('main.player_page') }}" target="_parent">{{ match.player1 or 'Player 1' }}</a>
                  </span>
                  {% if match.flag1_url %}
                    <img class="flag" src="{{ match.flag1_url }}" alt="Flag for {{ match.team1 }}">
                  {% endif %}
                </div>

                <div class="player match{{ loop.index }}-player2">
                  <span class="score">{{ match.score2 or 0 }}</span>
                  <span class="player_team">{{ match.team2 or 'Unknown' }}</span>
                  <span>|</span>
                  <span class="player_name">
                    <a href="{{ url_for('main.player_page') }}" target="_parent">{{ match.player2 or 'Player 2' }}</a>
                  </span>
                  {% if match.flag2_url %}
                    <img class="flag" src="{{ match.flag2_url }}" alt="Flag for {{ match.team2 }}">
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% else %}
    <p class="text-muted">No bracket data available.</p>
  {% endif %}
</div>