<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon"
      href="{{ url_for('static', filename='Used_Source/favicon.jpg') }}"
      type="image/jpg">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>User Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/CompetitionTemplate.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/user.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/SF6_Bracket.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='JavaScript/user.js') }}" defer></script>
  <script src="{{ url_for('static', filename='JavaScript/player.js') }}"> defer</script>

</head>
<body>
  <!-- NAVBAR -->
  {%include 'Navbar_All/UserNavbar.html' %}

   <!-- MODALS -->
  {% include 'users_template.html' %}
  {% include 'players_template.html' %}

  <!-- FLASH MESSAGES & COMPETITION CARDS -->
  <div class="container mt-3">
  {% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
     {% for category, msg in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show
                  position-fixed top-0 start-50 translate-middle-x mt-3"
           role="alert" style="z-index:1055;">
        {{ msg }}  
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
     {% endfor %}
    {% endif %}
  {% endwith %}
  </div>

  <h1>The Competitions You Created</h1>

  {% for comp in competitions if comp.user_id == current_user.id %}
    <div class="competition-result-item">
      <div class="d-flex align-items-start">
        <div class="date">
          <p class="month">{{ comp.month[:3] }}.</p>
          <p class="day">{{ comp.day }}</p>
        </div>

        <div class="ms-auto">
          <img class="logo" src="{{ comp.logo_url }}" alt="Match Logo">
        </div>

        <div class="competition-info flex-grow-1">
          <h3 class="mb-1 title">{{ comp.name }}</h3>

          <div class="competition-btn d-flex gap-2 mt-2">
            <a class="btn btn-sm btn-light btn-result"
              role="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcan_result_{{ loop.index0 }}">
              Result
            </a>
            <a class="btn btn-sm btn-light btn-details"
              role="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcan_detail_{{ loop.index0 }}">
              Details
            </a>
            <a class="btn btn-sm btn-light btn-comp"
              href="{{ comp.comp_link }}"
              target="_blank"
              rel="noopener noreferrer">
              COMP
            </a>
            
            {% if current_user.id == comp.user_id %}
            <form method="post"
                  action="{{ url_for('user.delete_competition', comp_id=comp.id) }}"
                  style="display:inline"
                  onsubmit="return confirm('Are you sure you want to delete this competition?');">
              {{ delete_forms[comp.id].hidden_tag() }}
              {{ delete_forms[comp.id].submit(class="btn btn-sm btn-outline-danger") }}
            </form>


            <button id="toggle-share-{{ comp.id }}" class="btn btn-sm btn-outline-primary">
              Share
            </button>

            <!-- Hidden input area, will only display when the above button is clicked -->
            <form id="share-form-{{ comp.id }}"
                method="post"
                action="{{ url_for('user.share_competition', comp_id=comp.id) }}"
                style="display: none; margin-top: .5rem;"
                onsubmit="return confirm('Send share invitation?');">

            {{ share_forms[comp.id].hidden_tag() }}

            {{ share_forms[comp.id].share_with(
                class="form-control form-control-sm d-inline-block",
                placeholder="Enter usernames, separated by commas",
                style="width: 200px;"
            ) }}

            {{ share_forms[comp.id].submit(
                class="btn btn-sm btn-primary",
                value="share"
            ) }}
          </form>



            {% endif %}
          </div>
        </div>

        <div class="card-actions">
          {% if comp.visibility=='shared' %}
              <span>🤝</span>
          {% endif %}

          <div class="action like">
            <span class="heart">❤️</span>
            <span class="count">0</span>
          </div>

          <div class="action comment" data-bs-toggle="modal" data-bs-target="#commentModal_{{ loop.index0 }}">
            <span class="bubble">💬</span>
            <span class="count">0</span>
          </div>

        </div>

        <!-- Offcanvas for "Details" -->
        <div class="offcanvas offcanvas-bottom offcanvas-detail" tabindex="-1"
            id="offcan_detail_{{ loop.index0 }}" aria-labelledby="offcanvasLabelDetail">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLabelDetail"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body detail-body">
            {% include 'bracket_display.html' %}
          </div>
        </div>

        <!-- Offcanvas for "Result" -->
        <div class="offcanvas offcanvas-bottom offcanvas-result" tabindex="-1"
            id="offcan_result_{{ loop.index0 }}" aria-labelledby="offcanvasLabelResult">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLabelResult"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body result-body">
            <img src="{{ comp.poster_url }}" class="img-fluid rounded" alt="{{ comp.name }} Poster">
          </div>
        </div>

        <!-- COMMENT MODAL -->
        <div class="modal fade" id="commentModal_{{ loop.index0 }}" tabindex="-1" aria-labelledby="commentModalLabel_{{ loop.index0 }}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="commentModalLabel_{{ loop.index0 }}">Comments</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <textarea class="form-control" rows="3" placeholder="Write a comment..."></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Post</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  
  <h1>The Competitions Shared to You</h1>

  {% for comp in competitions if current_user in comp.shared_with %}
    <div class="competition-result-item">
      <div class="d-flex align-items-start">
        <div class="date">
          <p class="month">{{ comp.month[:3] }}.</p>
          <p class="day">{{ comp.day }}</p>
        </div>

        <div class="ms-auto">
          <img class="logo" src="{{ comp.logo_url }}" alt="Match Logo">
        </div>

        <div class="competition-info flex-grow-1">
          <h3 class="mb-1 title">{{ comp.name }}</h3>

          <div class="competition-btn d-flex gap-2 mt-2">
            <a class="btn btn-sm btn-light btn-result"
              role="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcan_result_{{ loop.index0 }}">
              Result
            </a>
            <a class="btn btn-sm btn-light btn-details"
              role="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcan_detail_{{ loop.index0 }}">
              Details
            </a>
            <a class="btn btn-sm btn-light btn-comp"
              href="{{ comp.comp_link }}"
              target="_blank"
              rel="noopener noreferrer">
              COMP
            </a>
            
            {% if current_user.id == comp.user_id %}
            <form method="post" action="{{ url_for('user.delete_competition', comp_id=comp.id) }}">
              {{ delete_forms[comp.id].hidden_tag() }}
              {{ delete_forms[comp.id].submit(class="btn btn-sm btn-outline-danger") }}
            </form>
            

            <button id="toggle-share-{{ comp.id }}" class="btn btn-sm btn-outline-primary">
              Share
            </button>

            <!-- Hidden input area, will only display when the above button is clicked -->
            <form id="share-form-{{ comp.id }}"
                  action="{{ url_for('user.share_competition', comp_id=comp.id) }}"
                  method="post"
                  style="display: none; margin-top: .5rem;"
                  onsubmit="return confirm('Send share invitation?');">
              <input type="text"
                      name="share_with"
                        placeholder="Enter usernames, separated by commas"
                      class="form-control form-control-sm d-inline-block"
                      style="width: 200px;"
                      required>
              <button type="submit"
                      name="action"
                      value="share"
                      class="btn btn-sm btn-primary">
                Send Share
              </button>
            </form>

            {% endif %}
          </div>
        </div>

        <div class="card-actions">
          {% if comp.visibility=='shared' %}
              <span>🤝</span>
          {% endif %}

          <div class="action like">
            <span class="heart">❤️</span>
            <span class="count">0</span>
          </div>

          <div class="action comment" data-bs-toggle="modal" data-bs-target="#commentModal_{{ loop.index0 }}">
            <span class="bubble">💬</span>
            <span class="count">0</span>
          </div>

        </div>

        <!-- Offcanvas for "Details" -->
        <div class="offcanvas offcanvas-bottom offcanvas-detail" tabindex="-1"
            id="offcan_detail_{{ loop.index0 }}" aria-labelledby="offcanvasLabelDetail">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLabelDetail"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body detail-body">
            {% include 'bracket_display.html' %}
          </div>
        </div>

        <!-- Offcanvas for "Result" -->
        <div class="offcanvas offcanvas-bottom offcanvas-result" tabindex="-1"
            id="offcan_result_{{ loop.index0 }}" aria-labelledby="offcanvasLabelResult">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLabelResult"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body result-body">
            <img src="{{ comp.poster_url }}" class="img-fluid rounded" alt="{{ comp.name }} Poster">
          </div>
        </div>

        <!-- COMMENT MODAL -->
        <div class="modal fade" id="commentModal_{{ loop.index0 }}" tabindex="-1" aria-labelledby="commentModalLabel_{{ loop.index0 }}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="commentModalLabel_{{ loop.index0 }}">Comments</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <textarea class="form-control" rows="3" placeholder="Write a comment..."></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Post</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}




  <!-- PLAYERS SECTION -->


  <h1>The Player Card You Created</h1>

  <div id="playerContainer"
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">

  {% for pl in players %}
    <div class="col" data-owner-id="{{ pl.owner_id }}">
      <div class="card player-card"
          data-player-id="{{ pl.name }}"
          data-bs-toggle="modal"
          data-bs-target="#playerModal_{{ loop.index0 }}"
          style="cursor:pointer">

        <div class="card-header">
          <img class="card-img-top player-img"
              src="{{ pl.photo_url }}"
              alt="{{ pl.name }}">
        </div>

        <div class="card-body text-center">
          <span class="badge bg-secondary mb-2 player-badge">
            {{ pl.league }}
          </span>
          <h5 class="card-title fw-bold player-name">
            {{ pl.name }}
          </h5>
          <p class="card-text">
            <span class="event-line1"></span><br>
            <span class="event-line2"></span>
          </p>
        </div>

        <div class="card-footer d-flex justify-content-evenly text-center social-links">
          {% if pl.twitter %}
            <a href="{{ pl.twitter }}" target="_blank">
              <span class="bi bi-twitter"></span>
            </a>
          {% endif %}

          {% if pl.twitch %}
            <a href="{{ pl.twitch }}" target="_blank">
              <span class="bi bi-twitch"></span>
            </a>
          {% endif %}
        </div>

        <form method="post"
              action="{{ url_for('user.delete_player', player_id=pl.id) }}"
              style="display:inline"
              onsubmit="return confirm('Do you really want to delete “{{ pl.name }}”?');">
          
          {{ delete_player_forms[pl.id].hidden_tag() }}

          {{ delete_player_forms[pl.id].submit(class="btn btn-sm btn-outline-danger") }}
        </form>


      </div> 
    </div> 

    <div class="modal fade flex-center"
        id="playerModal_{{ loop.index0 }}"
        tabindex="-1"
        aria-labelledby="playerLabel_{{ loop.index0 }}"
        aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"
                id="playerLabel_{{ loop.index0 }}">
              {{ pl.name }}
            </h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close">
            </button>
          </div>
          <div class="modal-body text-center">
            <p>Matches Played: N/A</p>
            <p>Matches Won:    N/A</p>
            <p>Win Rate:       N/A</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div> 
 

  
<script>
document.querySelectorAll('[id^=toggle-share-]').forEach(btn => {
  btn.addEventListener('click', e => {
    const compId = btn.id.replace('toggle-share-','');
    const form  = document.getElementById(`share-form-${compId}`);
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
  });
});
</script>
<script>
document.getElementById("openPlayerModalBtn").addEventListener("click", function () {
    document.getElementById("addPlayerModal").style.display = "block";
  });

  document.querySelector(".close-player").addEventListener("click", function () {
    document.getElementById("addPlayerModal").style.display = "none";
  });

  window.addEventListener("click", function (e) {
    const modal = document.getElementById("addPlayerModal");
    if (e.target === modal) {
      modal.style.display = "none";
    }
  });
</script>

</html>

</body>
</html>